.grid-stack {
    background: lightgoldenrodyellow;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}

.grid-stack .grid-stack {
    /*margin: 0 -10px;*/
    background: rgba(255, 255, 255, 0.3);
}

.gate{
    background-color:#ae60f2;
}

.statue{
    background-color:#ef0b0b;
}

.graveContextMenu{
    position: fixed;
    display: none;
    z-index: 100;
}
.ui-datepicker{
    z-index:101!important;
}

.graveYardNotInitial{
    background-color:#777;
}

.graveYardInitial{
    background-color:#01ff70;
}

.graveYardFull{
    background-color:#3c8dbc;
}

.color-description {
    margin-top: 10px;
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}
.color-description h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
}

.color-description ul {
    list-style: none;
    padding-left: 0;
}
.color-description ul li {
    font-size: 25px;
    line-height: 30px;
}
.color-description ul li span {
    font-size: 15px;
    vertical-align: top;
}
.ui.fluid.dropdown.search.selection {
    margin-left: 630px;
    width: 220px;
}