#map {
    height: 93.5%;
    margin-top: 50px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}
 .videoWrapper {
     position: relative;
     padding-bottom: 60%;
     padding-top: 25px;
     height: 0;
     border: 5px solid #eee;
 }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 600px;
    padding: 4px 10px 4px 10px;
    text-overflow: ellipsis;
    width: 400px;
    margin-top: 11px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

.geolocation {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 4px -1px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 2px;
    padding: 3px;
    z-index: 0;
    position: absolute;
    bottom: 129px;
    right: 0px
}
.icon {
    background-size: 36px 18px;
    width: 18px;
    height: 18px;
    opacity: 0.9;
    background-image: url(../img/geolocation.png);

}
#geolocationBtn.onclick {
    background-position: -18px center;
}

/*vertical-navbar*/

#sidebar-wrapper {
    margin-left: -230px;
    left: 40px;
    width: 230px;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 230px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #000;
    display: block;
    float: left;
    text-decoration: none;
    width: 230px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 44px;
}

#wrapper.active .sidebar-nav li a:hover {
    color: #fff;
    background: #64992d;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 50px;
}
li.sidebar-brand a {
    background-color: #7ab33e;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#main_icon
{
    float:right;
    top: 15px;
    right: 11px;
    color: #fff;
}
#wrapper.active #sidebar-wrapper {
    left: 230px;
    width: 230px;
    transition: all .4s ease 0s;
    background: #fff;
}
#wrapper.active .sidebar-nav li a{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #7ab33e;
    color: #fff;
}

/*=======*/
/*nav*/
a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
.icon-top {
    width: 50px;
    height: 50px;
}
.icon-img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.mega-nav {
    background:#7ab33e;
    border-radius:0;
    margin-bottom:0;
}
.mega-nav.navbar-default .navbar-nav > li > a {
    color:#fff;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
}
.mega-nav.navbar-default .navbar-nav > li > a:hover {
    background:#64992d;
}
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:hover,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:focus,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:active{
    background:#64992d;
    color:#fff;
}
#MainMenu {
    padding-left:0;
}
#MainMenu .menu-list li {
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
}
#MainMenu .menu-list > li + li {
    border-left:1px solid rgba(255, 255, 255, 0.5);
}

.mega-nav.navbar-default .navbar-nav > li.menu-list .list-category a {
    color:#333;
}
.dropdown-menu.mega-dropdown-menu{
    background:#7ab33e;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px;
}
.dropdown-menu.mega-dropdown-menu li a {
    color: #fff;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.dropdown-menu.mega-dropdown-menu li:last-child a {
    border-bottom:none;
}
.dropdown-menu.mega-dropdown-menu li a:hover {
    background: #64992d;
    transition: all 200ms ease-out;
}
.nav-right li {
    float: left;
    list-style: none;
    margin-top: 15px;
}
.nav-right li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
.nav-right li a:hover {
    background-color: #528221;
    transition: 0.8s all;
}
a.button {
    background-color: #64992d;
    border-radius: 5px;
    margin-left: 5px;
}
/*end navbar*/

button.churchStreamBtn {
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    background: #26B99A;
    border: 1px solid #169F85;
    border-radius: 3px;
}
button.churchStreamBtn:hover {
    background-color: #038238;
    transition: all 0.8s;
}

button.churchBtn {
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    background: #26B99A;
    border: 1px solid #169F85;
    border-radius: 3px;
}
button.churchBtn:hover {
    background-color: #038238;
    transition: all 0.8s;
}

button.churchFollowBtn {
    color: #fff;
    padding: 5px;
    background: #26B99A;
    border: 1px solid #169F85;
    border-radius: 3px;
}
button.churchFollowBtn:hover {
    background-color: #038238;
    transition: all 0.8s;
}
.stream-title {
    display: inline;
    font-size: 14px;
}
.info-txt {
    font-size: 14px;
}
/*=============================*/
/*=======================*/
/*regis*/
.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#7ab33e;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #7ab33e;
}