.noti .block {
    background: #f7f7f7;
    padding: 5px;
    margin: 8px 0 0;
}
.noti .block:last-child {
    margin-bottom: 6px;
    padding: 10px
}
.noti .block {
    padding: 3px 5px !important
}
.img-size {
    width: 150%;
}
.full-size {
    width: 100%;
}
.name {
    font-weight: bold;
}
.time {
    font-style: italic;
    font-size: 90%;
}
.message {
    margin-top: 2px;
}