#calendarPopup {
    width:400px;
    position: fixed;
    display: none;
    z-index: 1;
}

#eventDetailPopup{
    position: fixed;
    display: none;
    z-index: 100;
}

.color-description {
    margin-top: 10%;
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
}
.color-description h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.color-description ul {
    list-style: none;
    padding-left: 0;
}
.color-description ul li {
    font-size: 25px;
    line-height: 30px;
}
.color-description ul li span {
    font-size: 15px;
    vertical-align: top;
}


#external-events {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
}
#external-events .fc-event:hover {
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    color: #000;
    transition: all 0.8s;
}

#external-events p {
    margin: 10px 0 5px 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}


/*For double click event*/
.fc-content-skeleton { pointer-events: none; }
.fc-event { pointer-events: all; }