#calendarPopup {
    width:400px;
    position: fixed;
    display: none;
    z-index: 1;
}

#eventDetailPopup{
    position: fixed;
    display: none;
    z-index: 100;
}

#userRegister{
    position: fixed;
    display: none;
    z-index: 100;
}

.color-description {
    margin-top: 10%;
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}
.color-description h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
}

.color-description ul {
    list-style: none;
    padding-left: 0;
}
.color-description ul li {
    font-size: 25px;
    line-height: 30px;
}
.color-description ul li span {
    font-size: 15px;
    vertical-align: top;
}


#external-events {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
}
#external-events .fc-event:hover {
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    color: #000;
    transition: all 0.8s;
}

#external-events p {
    margin: 10px 0 5px 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}


/*For double click event*/
.fc-content-skeleton { pointer-events: none; }
.fc-event { pointer-events: all; }

/*==============*/
/*mutiple-btn*/

.mul-btn {
    list-style: none;
    margin-bottom: 30px;
    margin-top: -10px;
}

.mul-btn li {
    text-align: center;
    position: relative;
}

li.middle button {
    left: 0;
    height: 35px;
    width: 60px;
    position: absolute;
    transition: all .4s ease-in-out 0s;
    font-weight: bold;
}

.edit {
    background: #ffad0f;
    border: 2px solid #ffad0f;
    z-index: 1;
}

button.del {
    background-color: #d9534f;
    border: 2px solid #d9534f;
}

button.save {
    background-color: #26b99a;
    border: 2px solid #26b99a;
}

.mul-btn li button {
    color: #fff;
}
.mul-btn li:hover .del {
    left: -60px;
}

.mul-btn li:hover .save {
    left: 60px;
}
