#calendarPopup {
    width: 300px;
    position: fixed;
    display: none;
    z-index: 1;
}

/*For double click event*/
.fc-content-skeleton { pointer-events: none; }
.fc-event { pointer-events: all; }